.body {
      background-image: url('https://media.tenor.com/TZaIBNauQfAAAAAM/stars-galaxy.gif')
}

.titulo1{
  color: gray;
  text-shadow: 1px 1px 0 mediumpurple;
  text-align: center;
  position: relative;
  left: -20px;
  letter-spacing: 3px;
  text-decoration-line: underline;
  text-decoration-color: purple;
  font-size: 48px;
  background-color: #404040AB;
  border-radius: 10px;
  display: inline-block;
  padding: 2px;
  border-width: 3px;
  border-style: solid;
  border-color: mediumpurple;
}

.texto1{
  color: gray;
  text-shadow: 1px 1px 0 mediumpurple;
  font-size: 20px;
  background-color: #404040AB;
  border-radius: 10px;
  bottom: 10px;
  margin-bottom: 10px;
  display: inline-block;
  padding: 2px;
  letter-spacing: 3px;
  font-style: italic;
  position: relative;
  left: -21px;
}

.span{
  color: red;
}

.linha1{
  border: none;
  height: 3px;
  background-color: purple;
  box-shadow: 1px 1px 0 mediumpurple;
  margin: 20px 0;
}

.detalhes{
  color: gray;
  font-size: 30px;
  background-color: #404040AB;
  border-radius: 10px;
  padding: 4px;
  display: inline-block;
  text-shadow: 1px 1px 0 mediumpurple;
  border-width: 3px;
  border-style: solid;
  border-color: mediumpurple;
  position: relative;
  left: 10px;
}

.detalhes2{
  color: gray;
  font-size: 30px;
  background-color: #404040AB;
  border-radius: 10px;
  padding: 4px;
  display: inline-block;
  text-shadow: 1px 1px 0 mediumpurple;
  border-width: 3px;
  border-style: solid;
  border-color: mediumpurple;
  position: relative;
  left: 10px;
}

.icon{
  color: gray;
  font-size: 20px;
  position: relative;
  top: -25px;
}

.checkbox{
  color: red;
  text-shadow: 1px 1px 0 mediumpurple;
  font-size: 30px;
  background-color: #404040AB;
  border-radius: 10px;
  padding: 3px;
  position: relative;
  right: -100px;
}